node_modules
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/f9d2bd63c30b84f3.webpack.hot-update.json
.next/static/webpack/webpack.f9d2bd63c30b84f3.hot-update.js
